:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-white-color: #ffffff;
    --footer-color: #2F303A;
    --button-color: #188CE8;
    --accent-white-color: rgba(255, 255, 255, 0.6);
    --section-background: #F5F4FA;
    --card-set-gap: 30px;
    --border-card: #ECECEC;
    --background-filter: #F5F4FA;
    --border-card-content: #EEEEEE ;
    --icon-con-fill: #AFB1B8;
    --footer-networks-backgraound: rgba(255, 255, 255, 0.1);
    --backdrop-color: rgba(0, 0, 0, 0.2);
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --transition-duration: 250ms;
 }